@model List<News.Datamodel.NewsUserModel>



<div class="row p-t-20">
    @foreach (var tn in Model.Where(m => m.NewsType == "Top4"))
    {
        <div class="col-sm-6 p-r-25 p-r-15-sr991">
            <!-- Item latest -->
            <div class="m-b-45">
                <a href="@Url.Action("details", new { newsId = tn.NewsId })" class="wrap-pic-w hov1 trans-03">
                    <img src="../@tn.NewsImage" alt="Sarguja Online" style="height:210px">
                </a>

                <div class="p-t-16">
                    <h5 class="p-b-5">
                        <a href="@Url.Action("details", new { newsId = tn.NewsId})" class="f1-m-3 cl2 hov-cl10 trans-03">
                            @tn.NewsSubject
                        </a>
                    </h5>

                    <span class="cl8">
                        <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                            द्वारा  @tn.CreatedBy
                        </a>

                        <span class="f1-s-3 m-rl-3">
                            -
                        </span>

                        <span class="f1-s-3">
                            @String.Format("{0:dd MMM}", tn.CreatedDate)
                        </span>
                    </span>
                </div>
            </div>
        </div>
    }



    @*<div class="col-sm-6 p-r-25 p-r-15-sr991">
        <!-- Item latest -->
        <div class="m-b-45">
            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                <img src="~/images/latest-02.jpg" alt="IMG">
            </a>

            <div class="p-t-16">
                <h5 class="p-b-5">
                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                        You wish lorem ipsum dolor sit amet consectetur
                    </a>
                </h5>

                <span class="cl8">
                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                        by John Alvarado
                    </a>

                    <span class="f1-s-3 m-rl-3">
                        -
                    </span>

                    <span class="f1-s-3">
                        Feb 16
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-6 p-r-25 p-r-15-sr991">
        <!-- Item latest -->
        <div class="m-b-45">
            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                <img src="~/images/latest-03.jpg" alt="IMG">
            </a>

            <div class="p-t-16">
                <h5 class="p-b-5">
                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                        You wish lorem ipsum dolor sit amet consectetur
                    </a>
                </h5>

                <span class="cl8">
                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                        by John Alvarado
                    </a>

                    <span class="f1-s-3 m-rl-3">
                        -
                    </span>

                    <span class="f1-s-3">
                        Feb 15
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-6 p-r-25 p-r-15-sr991">
        <!-- Item latest -->
        <div class="m-b-45">
            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                <img src="~/images/latest-04.jpg" alt="IMG">
            </a>

            <div class="p-t-16">
                <h5 class="p-b-5">
                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                        You wish lorem ipsum dolor sit amet consectetur
                    </a>
                </h5>

                <span class="cl8">
                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                        by John Alvarado
                    </a>

                    <span class="f1-s-3 m-rl-3">
                        -
                    </span>

                    <span class="f1-s-3">
                        Feb 13
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-6 p-r-25 p-r-15-sr991">
        <!-- Item latest -->
        <div class="m-b-45">
            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                <img src="~/images/latest-05.jpg" alt="IMG">
            </a>

            <div class="p-t-16">
                <h5 class="p-b-5">
                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                        You wish lorem ipsum dolor sit amet consectetur
                    </a>
                </h5>

                <span class="cl8">
                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                        by John Alvarado
                    </a>

                    <span class="f1-s-3 m-rl-3">
                        -
                    </span>

                    <span class="f1-s-3">
                        Feb 10
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-6 p-r-25 p-r-15-sr991">
        <!-- Item latest -->
        <div class="m-b-45">
            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                <img src="~/images/latest-06.jpg" alt="IMG">
            </a>

            <div class="p-t-16">
                <h5 class="p-b-5">
                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                        You wish lorem ipsum dolor sit amet consectetur
                    </a>
                </h5>

                <span class="cl8">
                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                        by John Alvarado
                    </a>

                    <span class="f1-s-3 m-rl-3">
                        -
                    </span>

                    <span class="f1-s-3">
                        Feb 09
                    </span>
                </span>
            </div>
        </div>
    </div>*@
</div>




