@model List<News.Datamodel.NewsUserModel>
<div class="col-md-10 col-lg-8 p-b-20">


    <div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
        <h3 class="f1-m-2 cl3 tab01-title">
            नवीनतम लेख
        </h3>
    </div>


    <div class="row p-t-35">
        @foreach (var tn in Model.Where(m => m.NewsType == "LatestNews"))
        {
            <div class="col-sm-6 p-r-25 p-r-15-sr991">
                <!-- Item latest -->
                <div class="m-b-45">
                    <a href="@Url.Action("details", new { newsId = tn.NewsId})" class="wrap-pic-w hov1 trans-03">
                        <img src="@tn.NewsImage" alt="IMG" style=" height:200px">
                    </a>

                    <div class="p-t-16">
                        <h5 class="p-b-5">
                            <a href="@Url.Action("details", new { newsId = tn.NewsId })" class="f1-m-3 cl2 hov-cl10 trans-03">
                                @tn.NewsSubject
                            </a>
                        </h5>

                        <span class="cl8">
                            <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                द्वारा : @tn.CreatedBy
                            </a>

                            <span class="f1-s-3 m-rl-3">
                                -
                            </span>

                            <span class="f1-s-3">
                                @String.Format("{0:dd MMM}", tn.CreatedDate)
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
